<div class="request-page">

  <div class="request-page__card">

    <div class="request-page__logo">
      <img src="../../../assets/logo.png" alt="">
    </div>


    <div class="request-page__icon">
      <svg class="request-page__check-svg" width="52" height="52" viewBox="0 0 52 52" fill="none" xmlns="http://www.w3.org/2000/svg">
        <circle class="request-page__check-circle" cx="26" cy="26" r="24" stroke="#1a4d8f" stroke-width="2.5" fill="none"/>
        <path class="request-page__check-mark" d="M15 26.5L22.5 34L37 19" stroke="#1a4d8f" stroke-width="2.8" stroke-linecap="round" stroke-linejoin="round" fill="none"/>
      </svg>
    </div>


    <div class="request-page__text">
      <h1 class="request-page__title">Request sent.</h1>
      <p class="request-page__subtitle">Waiting for admin approval</p>
    </div>


    <button class="request-page__btn" (click)="backToDashboard()">
      <svg width="14" height="14" viewBox="0 0 24 24" fill="none">
        <path d="M19 12H5M12 5l-7 7 7 7" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
      </svg>
      Back to Dashboard
    </button>
  </div>



</div>
